<style>
/* Change the form background color, text color, and typeface */
.can_embed #can_embed_form,
.can_embed #donate_auto_modal {
	background-color: white !important;
	color: black !important;
	font-family: /* enter your typeface name here */
}
​
/* Change link color */
.can_embed #can_embed_form a,
.can_embed #donate_auto_modal a {
	color: #6ac2c4 !important;
}
​
/* Heading colors */
.can_embed #can_embed_form h1,
.can_embed #donate_auto_modal h1,
.can_embed #can_embed_form h2,
.can_embed #donate_auto_modal h2,
.can_embed #can_embed_form h3,
.can_embed #donate_auto_modal h3,
.can_embed #can_embed_form h4,
.can_embed #donate_auto_modal h4,
.can_embed #can_embed_form h5,
.can_embed #donate_auto_modal h5,
.can_embed #can_embed_form h6,
.can_embed #donate_auto_modal h6 {
	color: #003961 !important;
}
​
/* Welcome message background color */
.can_embed #can_embed_form #action_welcome_message #action_welcome_message_inner,
.can_embed #donate_auto_modal #action_welcome_message #action_welcome_message_inner {
	background-color: rgba(0, 57, 97, 1) !important;
	/* This is navy @ 100% opacity */
}
​
/* Remove the Action Network Logo */
.can_embed #logo_wrap {
	display: none !important;
}
​
/* Button Background Color */
.can_embed .can_button,
.can_embed #can_embed_form input[type="submit"],
.can_embed #can_embed_form .button,
.can_embed #donate_auto_modal input[type="submit"],
.can_embed #donate_auto_modal .button {
	background-color: #6ac2c4 !important;
}
​
/* Button Background Color on Hover */
.can_embed .can_button:hover,
.can_embed #can_embed_form input[type="submit"]:hover,
.can_embed #can_embed_form .button:hover,
.can_embed #donate_auto_modal input[type="submit"]:hover,
.can_embed #donate_auto_modal .button:hover {
	background-color: #8ccccf !important;
}
​
/* Thank You Page Header Background Color */
.can_embed #can_embed_form #can_thank_you,
.can_embed #donate_auto_modal #can_thank_you {
	background-color: #f4e5d0 !important;
}
​
/* Thank You Page Header Text Color */
.can_embed #can_embed_form #can_thank_you,
.can_embed #donate_auto_modal #can_thank_you,
.can_embed #can_embed_form #can_thank_you h1,
.can_embed #donate_auto_modal #can_thank_you h1,
.can_embed #can_embed_form #can_thank_you h4,
.can_embed #donate_auto_modal #can_thank_you h4,
.can_embed #can_embed_form #can_thank_you #action_info .action_info_user,
.can_embed #donate_auto_modal #can_thank_you #action_info .action_info_user,
.can_embed #can_embed_form #can_thank_you #action_info .action_info_user a,
.can_embed #donate_auto_modal #can_thank_you #action_info .action_info_user a {
	color: #003961 !important;
}
​
/* Thank You Page Divider Line */
.can_embed #can_embed_form #can_thank_you #action_info,
.can_embed #donate_auto_modal #can_thank_you #action_info {
	border-color: #6ac2c4 !important;
}
</style>
<link href='https://act.climate200.com.au/css/style-embed-whitelabel-v3.css' rel='stylesheet' type='text/css' /><script src='https://act.climate200.com.au/widgets/v5/petition/pipeline-petition?format=js&source=widget'></script><div id='can-petition-area-pipeline-petition' style='width: 300px'><!-- this div is the target for our HTML insertion --></div><link href='https://act.climate200.com.au/css/style-embed-v3.css' rel='stylesheet' type='text/css' /><script src='https://act.climate200.com.au/widgets/v5/petition/pipeline-petition?format=js&source=widget'></script><div id='can-petition-area-pipeline-petition' style='width: 600px'><!-- this div is the target for our HTML insertion --></div>
